:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --accent-color: #2196F3;
    --section-pt: 95px;
    --section-pb: 95px;
}

body {
    font-family: var(--main-font);
    color: #212121;
;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.address {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* ============= HEADER ============= */
.header .container{
    display: flex;
    align-items: center;
}

.header {
    padding-top: 25px;
    padding-bottom: 25px;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation-list {
    display: flex;
    align-items: center;
}

.contacts-link {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.contacts-list-item {
    margin-left: 50px;
}

.logo {
    margin-right: 93px;
}

.navigation-list-item:not(:last-child) {
    margin-right: 50px;
}




.navigation-link:hover,
.navigation-link:focus {
    color: var(--accent-color);
}

.navigation-link {
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.tel-link:hover,
.tel-link:focus {
    color: var(--accent-color);
}

/* ============= END HEADER ============= */



/* ============= COMPONENTS ============= */

.modal-btn:hover,
.modal-btn:focus {
    background-color: #188CE8;

    cursor: pointer;

}




.modal-btn {
    margin-left: auto;
    margin-right: auto;

    
    min-width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--accent-color);

}

.logo-text {
    font-family: var(--secondary-font); 
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}


.tel-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.mail-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:#757575; 

}



.mail-link:hover,
.mail-link:focus {
    color: var(--accent-color);
}

.logo-dark-theme {
    color: #FFFFFF;

}

.logo-white-theme {
    color: #000000;
} 

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.03em;
}


/* ============= END COMPONENTS ============= */



/* ============= HERO ============= */
.hero-title {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    /* color: #FFFFFF; */

}

.hero {
    padding-bottom: 200px;
    padding-top: 200px;
    
}



/* ============= ABOUT ============= */

.about-list {
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

.advantages-list-description {
    margin-top: 10px;
}

.about-suptitle:not(:last-child) {
    margin-right: 30px;
}

.about-us {
    padding-top: var(--section-pt);
    padding-bottom: var(--section-pb);
}

.about-us-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-list-item:not(:last-child) {
    margin-right: 30px;
}

.container {
    padding-bottom: var(--section-pb);
}

.title {
    margin-bottom: 50px;
}

.our-team-list {
    display: flex;
    align-items: center;
}

.our-team-list-item:not(:last-child) {
    margin-right: 30px;
}



.parametr-img {
    width: 270px;
    height: 260px;
    margin-bottom: 30px;
}


/* ============= END ABOUT ============= */
.advantages-list-count {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.advantages-list-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}



.suptitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 10px;
}

.job-post {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;

    padding-bottom: var(--section-pb);
}

.footer .container {
    padding-bottom: 20px;
    padding-top: 60px;
}

.container-address  {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 60px;
}


/* ============= END HERO ============= */



/* ============= GALLERY ============= */

.modal-btn-navigation:focus,
.modal-btn-navigation:hover {
    background-color: #2196F3;
    cursor: pointer;
    color: #FFFFFF;
}

.modal-btn-navigation {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
}

.work-list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.work-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}
/* ============= END GALLERY ============= */

/* ============= FOOTER ============= */
.contact-list-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

footer {
    background: #2F303A;
}
/* ============= END FOOTER ============= */


/* ============= PORTFOLIO ============= */


.navigation-modal-btn {
    display: flex;
    align-items: center;
}
.modal-btn-item:not(:last-child) {
    margin-right: 8px;
}


/* ============= END PORTFOLIO ============= */
