:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --accent-color: #2196F3;
}

body {
    font-family: var(--main-font);
    color: #212121;
;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.address {
    font-style: normal;
}


/* ============= HEADER ============= */
.navigation-link:hover,
.navigation-link:focus {
    color: var(--accent-color);
}

.navigation-link {
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.tel-link:hover,
.tel-link:focus {
    color: var(--accent-color);
}

/* ============= END HEADER ============= */



/* ============= COMPONENTS ============= */

.modal-btn:hover,
.modal-btn:focus {
    background-color: #188CE8;
;
    cursor: pointer;

}

.modal-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--accent-color);

}

.logo-text {
    font-family: var(--secondary-font); 
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}


.tel-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.mail-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:#757575;

}

.mail-link:hover,
.mail-link:focus {
    color: var(--accent-color);
}

.logo-dark-theme {
    color: #FFFFFF;

}

.logo-white-theme {
    color: #000000;
} 

/* ============= END COMPONENTS ============= */



/* ============= HERO ============= */
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    /* color: #FFFFFF; */
}

.modal-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.advantages-list-count {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.advantages-list-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.03em;
}

.suptitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.job-post {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
/* ============= END HERO ============= */



/* ============= GALLERY ============= */

.modal-btn-navigation:focus,
.modal-btn-navigation:hover {
    background-color: #2196F3;
    cursor: pointer;
    color: #FFFFFF;
}

.modal-btn-navigation {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
}

.work-list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.work-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}
/* ============= END GALLERY ============= */

/* ============= FOOTER ============= */
.contact-list-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

footer {
    background: #2F303A;
}
/* ============= END FOOTER ============= */



